.color-picker {
  border: solid rgb(145, 145, 145) 1px;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.color-picker-circle {
  width: 30px;
  height: 30px;
  margin: 10px;
  border: 1px solid #535353;
  border-radius: 50%;
  cursor: pointer;
}

.color-picker-circle:hover {
  border-width: 2px;
}
