<article *ngFor="let option of options">
  <h1 (click)="toggleContent(option)">
    {{ option.title }}
    <span
      class="arrow"
      [ngClass]="{
        'arrow-down': !option.showContent,
        'arrow-up': option.showContent
      }"
    ></span>
  </h1>
  <div class="content" *ngIf="option.showContent">
    <ng-switch [ngSwitch]="option.content.type">
      <ng-container class="kleuren" *ngSwitchCase="'kleuren'">
        <div class="color-picker">
          <div
            class="color-picker-circle"
            ngx-colors-trigger
            [(ngModel)]="color1"
            [style.background-color]="color1"
          ></div>
          <p>Achtergrond body</p>
        </div>
        <div class="color-picker">
          <div
            class="color-picker-circle"
            ngx-colors-trigger
            [(ngModel)]="color2"
            [style.background-color]="color2"
          ></div>
          <p>Titels</p>
        </div>
        <div class="color-picker">
          <div
            class="color-picker-circle"
            ngx-colors-trigger
            [(ngModel)]="color3"
            [style.background-color]="color3"
          ></div>
          <p>Achtergrond thead</p>
        </div>
      </ng-container>
      <ng-container *ngSwitchCase="'header'">
        header <br />
        header <br />
        header <br />
        header
      </ng-container>
      <ng-container *ngSwitchCase="'body'">
        body <br />
        body <br />
        body <br />
        body
      </ng-container>
      <ng-container *ngSwitchCase="'footer'">
        footer <br />
        footer <br />
        footer <br />
        footer
      </ng-container>
    </ng-switch>
  </div>
</article>
