/* Footers */
.footer {
  height: 100px;
  margin-top: 8px;
}

.footer:hover {
  border: var(--hover-box-shadow) solid 2px;
}

.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.footer-preview {
  background: var(--white-color);
  border: var(--black-color) solid 1px;
  width: 100%;
  height: 100px;
  cursor: pointer;
}
