<mat-tab-group animationDuration="0ms">
  <mat-tab label="Kleuren">
    <div class="color-pickers-container">
      <app-color-picker
        section="Header"
        [colors]="headerColors"
      ></app-color-picker>

      <app-color-picker
        section="Footer"
        [colors]="footerColors"
      ></app-color-picker>

      <app-color-picker section="Main" [colors]="mainColors"></app-color-picker>
    </div>
  </mat-tab>
  <mat-tab label="Fonts">
    <mat-form-field class="fontTab">
      <mat-label>Selecteer een font</mat-label>
      <input
        type="text"
        matInput
        [formControl]="fontControl"
        [matAutocomplete]="auto"
      />
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFont">
        <mat-option *ngFor="let font of filteredFonts" [value]="font">
          {{ font }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <div class="button-container">
      <button (click)="updateFont()">Update Font</button>
    </div>
  </mat-tab>
</mat-tab-group>
