<h1>Kies de kleuren</h1>

<div class="color-pickers-container">
  <app-color-picker-column
    section="Header"
    [colors]="headerColors"
    (updateColorPicker)="updateColor($event)"
  ></app-color-picker-column>

  <app-color-picker-column
    section="Main"
    [colors]="mainColors"
    (updateColorPicker)="updateColor($event)"
  ></app-color-picker-column>

  <app-color-picker-column
    section="Footer"
    [colors]="footerColors"
    (updateColorPicker)="updateColor($event)"
  ></app-color-picker-column>
</div>

<!--
<div class="font-picker">
  <label for="font-select"><h1>Kies een font</h1></label>
  <select id="font-select" (change)="selectFont($event)">
    <option value="Arial">Arial</option>
    <option value="Roboto">Roboto</option>
  </select>
</div>
-->
