html {
  --mdc-tab-indicator-active-indicator-height: 2px;
  --mdc-tab-indicator-active-indicator-shape: 0;
  --mdc-secondary-navigation-tab-container-height: 48px;
}

.mat-mdc-tab-group,
.mat-mdc-tab-nav-bar {
  --mdc-tab-indicator-active-indicator-color: var(--brand-primary);
  --mat-tab-header-disabled-ripple-color: var(--brand-accent);
  --mat-tab-header-inactive-label-text-color: #b3b3b3;
  --mat-tab-header-active-label-text-color: var(--brand-primary);
  --mat-tab-header-inactive-ripple-color: var(--brand-primary);
  --mat-tab-header-active-focus-label-text-color: var(--brand-primary);
  --mat-tab-header-active-hover-label-text-color: var(--brand-primary);
  --mat-tab-header-active-focus-indicator-color: var(--brand-primary);
  --mat-tab-header-active-hover-indicator-color: var(--brand-primary);
}

.mat-mdc-tab-header {
  --mat-tab-header-label-text-font: Roboto, sans-serif;
  --mat-tab-header-label-text-size: 14px;
  --mat-tab-header-label-text-tracking: 0.05em;
  --mat-tab-header-label-text-line-height: 36px;
  --mat-tab-header-label-text-weight: 400;
}

.color-pickers-container {
  margin-top: 24px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
}

.font-container {
  margin-top: 24px;
}
