.color-pickers-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 5px;
}

.color-picker-column h2 {
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 5px;
  text-decoration: underline 3px #28b498;
}

.color-picker-column {
  flex: 1;
  padding: 5px;
  font-size: 15px;
}

.color-picker {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
}

.header-color,
.footer-color,
.main-color {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 30px;
  height: 34px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.header-color::-webkit-color-swatch,
.footer-color::-webkit-color-swatch,
.main-color::-webkit-color-swatch {
  border-radius: 50%;
  border: 2px solid #a9a9a9;
}
.header-color::-moz-color-swatch,
.footer-color::-moz-color-swatch,
.main-color::-moz-color-swatch {
  border-radius: 50%;
  border: 2px solid #a9a9a9;
}
