/* Headers */
.header {
  height: 140px;
  margin-top: 10px;
}

.header:hover {
  border: solid rgb(74, 74, 74) 2px;
}

.header-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header-preview {
  background: white;
  border: black solid 1px;
  width: 100%;
  height: 140px;
  cursor: pointer;
}
