/* Headers */
.header {
  margin-top: 8px;
  height: 120px;
  border: var(--black-color) solid 1px;
}

.header:hover {
  cursor: pointer;
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.header-preview {
  background: var(--white-color);
  width: 100%;
  align-items: center;
}
