.calculatietabel {
  margin-top: 8px;
}

.calculatietabel-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.calculatietabel-preview {
  background: white;
  border: black solid 1px;
  width: 100%;
  cursor: pointer;
}
