<div class="bedrijfsgegevens-form">
  <mat-form-field appearance="outline" [floatLabel]="'always'">
    <mat-label>Bedrijfsnaam</mat-label>
    <input matInput />
  </mat-form-field>
  <mat-form-field appearance="outline" [floatLabel]="'always'">
    <mat-label>Straat + nummer</mat-label>
    <input matInput />
  </mat-form-field>
  <mat-form-field appearance="outline" [floatLabel]="'always'">
    <mat-label>Postcode</mat-label>
    <input matInput />
  </mat-form-field>
  <mat-form-field appearance="outline" [floatLabel]="'always'">
    <mat-label>Plaats</mat-label>
    <input matInput />
  </mat-form-field>
  <mat-form-field appearance="outline" [floatLabel]="'always'">
    <mat-label>Telefoonnummer</mat-label>
    <input matInput />
  </mat-form-field>
</div>
<button class="blue-btn">Pas toe</button>
