.algemene-voorwaarden-input {
  width: 100%;
}

.algemene-voorwaarden-input textarea {
  min-height: 300px;
}

.geformatteerde-voorwaarden {
  margin: 16px 0;
  border: solid black 1px;
}

.select-and-button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
}

.kolommen-keuze {
  margin-right: 8px;
}

#copy-btn {
  margin-left: auto;
}
