.algemene-voorwaarden-input {
  width: 100%;
}

.algemene-voorwaarden-input textarea {
  min-height: 300px;
}
.select-and-button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
}

.kolommen-keuze {
  margin-right: 8px;
}

.geformatteerde-voorwaarden {
  column-count: var(--columns, 1);
  column-gap: var(--column-gap, 16px);
  font-size: var(--font-size, 12px);
  text-align: justify;
  padding: 16px;
}

.geformatteerde-voorwaarden li {
  list-style-type: none;
}
