<main class="main">
  <section class="left-container">
    <div class="scrollable">
      <article *ngFor="let option of options">
        <h1 (click)="toggleContent(option)">
          {{ option.title }}
          <span
            class="arrow"
            [ngClass]="{
              'arrow-down': !option.showContent,
              'arrow-up': option.showContent
            }"
          ></span>
        </h1>
        <div class="content" *ngIf="option.showContent">
          <ng-switch [ngSwitch]="option.content.type">
            <ng-container class="styling" *ngSwitchCase="'styling'">
              <app-styling></app-styling>
            </ng-container>

            <ng-container *ngSwitchCase="'header'">
              <app-header (headerChange)="onHeaderChange($event)"></app-header>
            </ng-container>

            <ng-container *ngSwitchCase="'main'">
              <app-main (mainChange)="onMainChange($event)"></app-main>
            </ng-container>

            <ng-container *ngSwitchCase="'footer'">
              <app-footer (footerChange)="onFooterChange($event)"></app-footer>
            </ng-container>
          </ng-switch>
        </div>
      </article>
    </div>
  </section>

  <section class="right-container">
    <article class="preview-doc">
      <div class="scrollable">
        <button (click)="showHTML()">Kopieer HTML-code</button>

        <div class="preview-doc-wrapper">
          <div
            class="preview-doc-header"
            [innerHTML]="selectedHeader.content"
          ></div>
          <div
            class="preview-doc-main"
            [innerHTML]="selectedMain.content"
          ></div>
          <div
            class="preview-doc-footer"
            [innerHTML]="selectedFooter.content"
          ></div>
        </div>
      </div>
    </article>
  </section>
</main>
