<main class="main">
  <section class="left-container">
    <div class="button-wrapper">
      <button
        *ngFor="let option of options; let i = index"
        (click)="toggleContent(i)"
        [ngClass]="{ 'selected-title': selectedOptionIndex === i }"
      >
        <h1>{{ option.title }}</h1>
      </button>
    </div>
  </section>

  <section class="center-container">
    <div class="scrollable">
      <article *ngFor="let option of options; let i = index">
        <div class="content" *ngIf="selectedOptionIndex === i">
          <ng-container [ngSwitch]="options[selectedOptionIndex].content.type">
            <ng-container *ngSwitchCase="'styling'">
              <app-styling></app-styling>
            </ng-container>
            <ng-container *ngSwitchCase="'logo'">
              <app-logo-upload
                (imageUploaded)="handleLogoUpload($event)"
              ></app-logo-upload>
            </ng-container>
            <ng-container *ngSwitchCase="'header'">
              <app-header (headerChange)="onHeaderChange($event)"></app-header>
            </ng-container>
            <ng-container *ngSwitchCase="'main'">
              <app-main (mainChange)="onMainChange($event)"></app-main>
            </ng-container>
            <ng-container *ngSwitchCase="'footer'">
              <app-footer (footerChange)="onFooterChange($event)"></app-footer>
            </ng-container>
          </ng-container>
        </div>
      </article>
    </div>
  </section>

  <section class="right-container">
    <article class="preview-doc">
      <div class="scrollable">
        <div class="preview-doc-wrapper">
          <div
            class="preview-doc-header"
            [innerHTML]="selectedHeader.content"
          ></div>
          <div
            class="preview-doc-main"
            [innerHTML]="selectedMain.content"
          ></div>
          <div
            class="preview-doc-footer"
            [innerHTML]="selectedFooter.content"
          ></div>
        </div>
      </div>
      <div class="button-container">
        <button (click)="copyHTML()">Full HTML code</button>
        <button (click)="copyHeader()">Header code</button>
        <button (click)="copyMain()">Main code</button>
        <button (click)="copyFooter()">Footer code</button>
      </div>
    </article>
  </section>
</main>
