main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 50px;
  gap: 50px;
  min-height: 100vh;
  background-color: #f0f3f7;
}

.left-container,
.right-container {
  width: 50%;
  padding: 20px;
  background-color: white;
  min-height: 700px;
  overflow: hidden;
}

.scrollable {
  max-height: 650px;
  overflow-y: auto;
}

.right-container {
  display: flex;
}

.preview-doc {
  margin: 20px 10px;
  border: solid black 1px;
  width: 100%;
}
