main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 50px;
  gap: 20px;
  min-height: 100vh;
  background: #0f1733;
  background: linear-gradient(90deg, #0f1734 0%, #1f2d6d 100%);
}

/* Containers */
.left-container,
.right-container {
  width: 50%;
  background-color: rgb(235, 235, 235, 0.2);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
  opacity: 1;
  height: 90vh;
  overflow: hidden;
}

.scrollable {
  height: 90vh;
  overflow-y: auto;
}

.right-container {
  display: flex;
  flex-direction: column;
}

/* Articles */
article {
  border: solid grey 1px;
  border-radius: 3px;
  background-color: #ffffff;
  margin: 10px;
  padding: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}

article h1 {
  cursor: pointer;
}

/* Arrows */
.arrow {
  float: right;
  margin-right: 10px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  cursor: pointer;
}

.arrow-up {
  border-bottom: 5px solid black;
}

.arrow-down {
  border-top: 5px solid black;
}

/* Content */
article .content {
  background-color: #ffffff;
  margin: 10px auto;
  padding: 20px;
}

/* Color Picker */
.color-picker {
  border: solid rgb(145, 145, 145) 1px;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.color-picker-circle {
  width: 30px;
  height: 30px;
  margin: 10px;
  border: 1px solid #535353;
  border-radius: 50%;
  cursor: pointer;
}

.color-picker-circle:hover {
  border-width: 2px;
}

/* Preview Document */
.preview-doc {
  background-color: #ffffff;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 10px 60px;
  max-height: 700px;
}

.preview-doc-wrapper {
  margin: 0 15px;
}

.preview-doc-header {
  flex: 0 0 auto; /*neem enkel benodigde ruimte in*/
}

.preview-doc-main {
}

.preview-doc-footer {
  margin-top: auto; /*duw naar onderkant*/
}
