main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 50px;
  gap: 20px;
  min-height: 100vh;
  background: #0f1733;
  background: linear-gradient(90deg, #0f1734 0%, #1f2d6d 100%);
}

/* Containers */
.left-container,
.right-container {
  width: 50%;
  background-color: rgb(235, 235, 235, 0.2);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.4);
  opacity: 1;
  height: 95vh;
  overflow: hidden;
}

.scrollable {
  height: 93vh;
  overflow-y: auto;
}

.right-container {
  display: flex;
  flex-direction: column;
}

/* Articles */
article {
  border: solid grey 1px;
  border-radius: 3px;
  background-color: #ffffff;
  margin: 10px;
  padding: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}

article h1 {
  cursor: pointer;
}

/* Arrows */
.arrow {
  float: right;
  margin-right: 10px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  cursor: pointer;
}

.arrow-up {
  border-bottom: 5px solid black;
}

.arrow-down {
  border-top: 5px solid black;
}

/* Content */
article .content {
  background-color: #ffffff;
  margin: 10px auto;
  padding: 20px;
}

/* Preview Document */
.preview-doc {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 10px 60px;
  max-height: 92vh;
}

.preview-doc-wrapper {
  background-color: #ffffff;
  border: solid 2px #939393;
  margin: 10px 20px;
  display: flex;
  flex-direction: column;
}

.preview-doc-header {
  flex: 0 0 auto; /*neem enkel benodigde ruimte in*/
}

.preview-doc-footer {
  margin-top: auto; /*duw naar onderkant*/
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px 0 5px 0;
  gap: 5px;
}

button {
  border: none;
  width: 100px;
  height: 30px;
  font-size: 11px;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--light-grey-color);
  color: #000;
  text-align: center;
  cursor: pointer;
}

button:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: #fff;
  background-color: var(--green-color);
}
