/* Mains */
.main {
  margin: 5px auto;
  padding: 10px;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.main-preview {
  background: white;
  border: black solid 1px;
  width: 100%;
  height: auto;
  overflow: auto;
}

.main-preview:hover {
  border: solid rgb(74, 74, 74) 2px;
  cursor: pointer;
}
