<h1>Kies een main</h1>

<mat-tab-group animationDuration="0ms">
  <mat-tab label="Verkoopfactuur">
    <div class="mains" *ngFor="let main of verkoopfactuurMains">
      <div class="main-content">
        <div
          class="main-preview"
          [innerHTML]="main.content"
          (click)="onMainChange(main)"
        ></div>
        <div
          class="calculatietabel"
          *ngIf="main === selectedMain && selectedCalculatietabel"
        >
          <div [innerHTML]="selectedCalculatietabel.content"></div>
        </div>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Aankoopfactuur">
    <div class="mains" *ngFor="let main of aankoopfactuurMains">
      <div class="main-content">
        <div
          class="main-preview"
          [innerHTML]="main.content"
          (click)="onMainChange(main)"
        ></div>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Offerte">
    <div class="mains" *ngFor="let main of offerteMains">
      <div class="main-content">
        <div
          class="main-preview"
          [innerHTML]="main.content"
          (click)="onMainChange(main)"
        ></div>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
