/* aangepaste styles tabs */

html {
  --mdc-tab-indicator-active-indicator-height: 2px;
  --mdc-tab-indicator-active-indicator-shape: 0;
  --mdc-secondary-navigation-tab-container-height: 48px;
  --mat-tab-header-divider-color: transparent;
  --mat-tab-header-divider-height: 0;
}

.mat-mdc-tab-group,
.mat-mdc-tab-nav-bar {
  --mdc-tab-indicator-active-indicator-color: var(--brand-primary);
  --mat-tab-header-disabled-ripple-color: var(--brand-accent);
  --mat-tab-header-pagination-icon-color: white;
  --mat-tab-header-inactive-label-text-color: #b3b3b3;
  --mat-tab-header-active-label-text-color: var(--brand-primary);
  --mat-tab-header-inactive-ripple-color: var(--brand-primary);
  --mat-tab-header-active-focus-label-text-color: var(--brand-primary);
  --mat-tab-header-active-hover-label-text-color: var(--brand-primary);
  --mat-tab-header-active-focus-indicator-color: var(--brand-primary);
  --mat-tab-header-active-hover-indicator-color: var(--brand-primary);
}

.mat-mdc-tab-group.mat-accent,
.mat-mdc-tab-nav-bar.mat-accent {
  --mdc-tab-indicator-active-indicator-color: var(--brand-primary);
  /* --mat-tab-header-disabled-ripple-color: rgba(255, 255, 255, 0.5); */
  --mat-tab-header-pagination-icon-color: white;
  /* --mat-tab-header-inactive-label-text-color: rgba(255, 255, 255, 0.6); */
  --mat-tab-header-active-label-text-color: var(--brand-primary);
  --mat-tab-header-active-ripple-color: var(--brand-primary);
  --mat-tab-header-inactive-ripple-color: var(--brand-primary);
  /* --mat-tab-header-inactive-focus-label-text-color: rgba(255, 255, 255, 0.6);*/
  /*  --mat-tab-header-inactive-hover-label-text-color: rgba(255, 255, 255, 0.6);*/
  --mat-tab-header-active-focus-label-text-color: var(--brand-primary);
  --mat-tab-header-active-hover-label-text-color: var(--brand-primary);
  --mat-tab-header-active-focus-indicator-color: var(--brand-primary);
  --mat-tab-header-active-hover-indicator-color: var(--brand-primary);
}

.mat-mdc-tab-header {
  --mdc-secondary-navigation-tab-container-height: 48px;
}

.mat-mdc-tab-header {
  --mat-tab-header-label-text-font: Roboto, sans-serif;
  --mat-tab-header-label-text-size: 14px;
  --mat-tab-header-label-text-tracking: 0.0892857143em;
  --mat-tab-header-label-text-line-height: 36px;
  --mat-tab-header-label-text-weight: 400;
  font-weight: 400;
}

/* Mains */
.mains {
  padding: 8px;
  margin: 8px auto;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.main-preview {
  background: var(--white-color);
  border: var(--black-color) solid 1px;
  width: 100%;
  height: auto;
  overflow: auto;
}

.main-preview:hover {
  border: var(--middle-grey-color) solid 2px;
  cursor: pointer;
}
