:root {
  --dark-blue-gradient: linear-gradient(90deg, #0f1734 0%, #1f2d6d 100%);
  --green-color: #28b498;
  --background-color: #cbd3dd;
  --light-grey-color: #dddddd;
  --middle-grey-color: #666666;
  --dark-grey-color: #242424;
  --white-color: #ffffff;
  --black-color: #000000;
  --hover-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

  --brand-primary: #0d1636eb;
  --brand-accent: #008771;
  --background-color: #f0f3f7;

  --header-text-color: #000000;
  --header-strong-text-color: #000000;
  --header-background-color: #ffffff;

  --footer-text-color: #000000;
  --footer-strong-text-color: #000000;
  --footer-background-color: #ffffff;

  --main-text-color: #000000;
  --main-strong-text-color: #000000;
  --main-background-color: #ffffff;

  --main-table-border-color: #000000;
  --main-table-title-color: #000000;
  --main-table-title-background-color: #ffffff;
}

.header-doc {
  color: var(--header-text-color);
  background-color: var(--header-background-color);
}
.header-doc strong {
  color: var(--header-strong-text-color);
}

.header-doc table {
  border-collapse: collapse;
  border: 1px solid var(--header-table-border-color);
}

.footer-doc {
  color: var(--footer-text-color);
  background-color: var(--footer-background-color);
}
.footer-doc strong {
  color: var(--footer-strong-text-color);
}

.main-doc {
  color: var(--main-text-color);
  background-color: var(--main-background-color);
}

.main-doc strong {
  color: var(--main-strong-text-color);
}

.main-doc table {
  border: var(--main-table-border-color);
}

.main-doc table th {
  background-color: var(--main-table-title-background-color);
  color: var(--main-table-title-color);
}

* {
  font-family: Arial, sans-serif;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: 400;
  margin-bottom: 16px;
}

h2 {
  font-weight: 400;
  font-size: 16px;
  color: var(--middle-grey-color);
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  width: 128px;
  height: 36px;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
}

button:hover {
  box-shadow: var(--hover-box-shadow);
}

.blue-btn {
  background-color: var(--brand-primary);
  background: var(--dark-blue-gradient);
  color: var(--white-color);
}

.blue-btn:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* aangepaste styles tabs */

html {
  --mdc-tab-indicator-active-indicator-height: 2px;
  --mdc-tab-indicator-active-indicator-shape: 0;
  --mdc-secondary-navigation-tab-container-height: 48px;
  --mat-tab-header-divider-color: transparent;
  --mat-tab-header-divider-height: 0;
}

.mat-mdc-tab-group,
.mat-mdc-tab-nav-bar {
  --mdc-tab-indicator-active-indicator-color: var(--brand-primary);
  --mat-tab-header-disabled-ripple-color: var(--brand-accent);
  --mat-tab-header-pagination-icon-color: white;
  --mat-tab-header-inactive-label-text-color: #b3b3b3;
  --mat-tab-header-active-label-text-color: var(--brand-primary);
  --mat-tab-header-inactive-ripple-color: var(--brand-primary);
  --mat-tab-header-active-focus-label-text-color: var(--brand-primary);
  --mat-tab-header-active-hover-label-text-color: var(--brand-primary);
  --mat-tab-header-active-focus-indicator-color: var(--brand-primary);
  --mat-tab-header-active-hover-indicator-color: var(--brand-primary);
}

.mat-mdc-tab-group.mat-accent,
.mat-mdc-tab-nav-bar.mat-accent {
  --mdc-tab-indicator-active-indicator-color: var(--brand-primary);
  /* --mat-tab-header-disabled-ripple-color: rgba(255, 255, 255, 0.5); */
  --mat-tab-header-pagination-icon-color: white;
  /* --mat-tab-header-inactive-label-text-color: rgba(255, 255, 255, 0.6); */
  --mat-tab-header-active-label-text-color: var(--brand-primary);
  --mat-tab-header-active-ripple-color: var(--brand-primary);
  --mat-tab-header-inactive-ripple-color: var(--brand-primary);
  /* --mat-tab-header-inactive-focus-label-text-color: rgba(255, 255, 255, 0.6);*/
  /*  --mat-tab-header-inactive-hover-label-text-color: rgba(255, 255, 255, 0.6);*/
  --mat-tab-header-active-focus-label-text-color: var(--brand-primary);
  --mat-tab-header-active-hover-label-text-color: var(--brand-primary);
  --mat-tab-header-active-focus-indicator-color: var(--brand-primary);
  --mat-tab-header-active-hover-indicator-color: var(--brand-primary);
}

.mat-mdc-tab-header {
  --mdc-secondary-navigation-tab-container-height: 48px;
}

.mat-mdc-tab-header {
  --mat-tab-header-label-text-font: Roboto, sans-serif;
  --mat-tab-header-label-text-size: 14px;
  --mat-tab-header-label-text-tracking: 0.0892857143em;
  --mat-tab-header-label-text-line-height: 36px;
  --mat-tab-header-label-text-weight: 400;
  font-weight: 400;
}
