.html-dialog {
  position: relative;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.close-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  font-size: 20px;
}

textarea {
  min-height: 500px;
  min-width: 500px;
  margin-bottom: 10px;
}

button {
  cursor: pointer;
  padding: 5px 10px;
  background-color: var(--brand-primary);
  color: #fff;
  border: none;
  border-radius: 5px;
}

button:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
