.html-dialog {
  position: relative;
  padding: 16px;
  background-color: var(--background-color);
  border: 1px solid var(--light-grey-color);
  border-radius: 5px;
}

h2 {
  color: var(--black-color);
}

.buttons {
  margin: 16px 8px;
}

.confirmation-message {
  margin-top: 24px;
  background-color: var(--light-grey-color);
  padding: 8px;
  border-radius: 5px;
  text-align: center;
}
